doctype html 
html 
    head
        title=`Star Wars Lore`
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        style 
            include ../../public/stylesheets/defaultStyles.css
        script 
            include ../../public/javascripts/utility.js
    body 
        main
            block content